@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8 !important;
}
.container1{
    padding-top: 150px !important;
}
h2{
    text-align: center !important;
    padding: 20px !important;
}
.slick-slide{
    margin: 0 20px !important;
}
.slick-slide img{
    width: 100% !important;
}
.slick-slider{
    position: relative!important;
    display: block !important;
    box-sizing: border-box !important;
}
.slick-list{
    position: relative !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0!important;
}
.slick-track{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
}
.slick-slide{
    display: none !important;
    float: left !important;
    height: 100% !important;
    min-height: 1px !important;
}
.slick-slide img{
    display: block !important;
}
.slick-initialized .slick-slide{
    display: block !important;
}
.copy{
    padding-top: 250px !important;
}